.wordle{
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.guessLetter {
    /*background-color: #eee;*/
    background-color: "white";
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    width: 100px;
    height: 50px;
  }